.checkout {
    display: flex;
    padding: 20px;
    max-height: max-content;
}

.checkout__left {
    background-color: white;
    padding: 20px;
    max-width: 100%;
    flex: 1 0 0%;
    width: 100%;
}

.checkout__right {
    max-width: 100%;
    flex: 0 0 auto;
    margin-left: 20px;
}

.checkout__title {
    font-weight: bold;
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.checkout__title > a {
    color: orange;
    font-size: 18px;
    font-weight: 700;
}