.header {
    height:60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
}

.header__search {
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 24px;
}

.header__searchInput {
    height: 34px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 3px 0 0 3px;
}

.header__searchIcon {
    padding: 5px;
    height: 22px;
    background-color: orange;
    border-radius: 0 3px 3px 0;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__navItem {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.header__nav--lineOne {
    font-size: 12px;
    font-weight: 600;
}

.header__nav--lineTwo {
    font-weight: bold;
}

.header__navBasket {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.header__basketCount {
    margin: 0 10px;
}